@font-face {
  font-family: 'Manrope';
  src: url('/__l5e/assets-v1/7a790fdc-26a1-4403-9d63-ea3d4a2b4695/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
